footer{
background-color:#19554b;
color: white;
position: absolute;
  bottom: 0;
width:100%;
height: 50px;
text-align: center;

}

.lolo{
    background-color:#19554b;
    color: red;
    align-self: flex-start;
    width:100%;
    height: 50px;
    text-align: center;
    
};

    .box {
        display: flex;
        align-self: flex-start;
        justify-content: center;

          width: 200px;
  margin: 10%;
  padding: 10%;
};
      
.box div {
        width: 100px;
        height: 100px;
};



html, body {
  max-width: 100%;
  overflow-x: hidden;
}

iframe {
  width: 100%;
}

.ifNav{
width:100% !important;
position: absolute !important;
height: 50px;


background-color:#69a694!important;

} 

.ifFut{


  width:100% !important;

  height: 50px !important;
  
  position: absolute !important;
  bottom: 0 !important;

  background: #19554b !important;
}

.contImg {
width: 75vw;
max-width: 1000px;
min-width: 320px;
margin: auto;

}

img {
width: 100%;
border-radius: 15pX;


}